rdflib~=6.3.2
PyGithub
networkx~=3.1
matplotlib~=3.7.2
tqdm~=4.66.1
spacy~=3.6.1
nltk
pandas~=2.0.3
requests~=2.31.0
openpyxl~=3.1.2
wikibase_api
ply~=3.11
pyshacl~=0.23.0
owlready2~=0.44
openai~=0.27.8
pyjsonviewer
gitpython
PyYAML~=6.0.1
xlsxwriter
pyspellchecker
pdf2docx~=0.5.6
pymupdf
numpy~=1.25.2
setuptools~=65.5.1
langchain
tiktoken
faiss-cpu
flask
boto3

